/* Variables */

:root {
  --white: #f7f7ff;
  --red: #fe5f54;
  --ash: #495868;
  --navy: #587399;
  --lightBlue: #bdd5ea;
  --roboto: "Roboto", sans-serif;
  --mina: "Mina", sans-serif;
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--ash);
  padding: 12px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  flex-basis: 18%;
}
.logo a {
}
.logo a img {
}

header .container nav ul {
  display: flex;
  align-items: center;
}

header .container nav ul li a {
  margin: 0 10px;
  padding: 10px 15px;
  font-family: var(--roboto);
  letter-spacing: 1px;
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
  transition: 0.5s;
  border-radius: 7px;
}
header .container nav ul li a:hover {
  background-color: var(--red);
}

/* ********* */

/* Banner Section Start */

.hero-banner {
  min-height: 95vh;
  background-color: rgb(87 87 113);
  background-image: url(../images/background-banner.jpeg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.hero-banner h1 {
  display: inline-block;
  font-family: var(--roboto);
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 10px;
  color: var(--navy);
  background-color: var(--white);
  padding: 8px 20px;
  padding-left: 0px;
  letter-spacing: 3px;
}
.hero-banner h1 span {
  padding: 0 30px;
  color: var(--white);
  background-color: var(--red);
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.hero-banner h2 {
  display: inline-block;
  font-family: var(--mina);
  font-size: 55px;
  background-image: url(../images/20211104_132404.jpg);
  background-size: cover;
  background-position-y: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: var(--white);
  -webkit-text-stroke-width: 2px;
}

/* About Section */
.about-section {
  background-color: var(--ash);
  padding: 60px 0;
}
.about {
  display: flex;
  align-items: center;
  gap: 40px;
}
.about-image img {
  border-radius: 10px;
}
.about-left {
  flex-basis: 60%;
}
.about-right {
  flex-basis: 40%;
}
.about-left p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: white;
}

/* Gallery Section */

.gallery {
  padding: 60px 0;
  background-color: var(--ash);
}
.gallery-box {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  flex-basis: 25%;
  padding: 5px;
}
.gallery-item img {
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;

  border-radius: 10px;
}
.heading {
  text-align: center;
  margin-bottom: 50px;
}
.title {
  font-size: 42px;
  color: var(--white);
  font-family: var(--mina);
  line-height: 1;
}
.dot {
  color: var(--red);
  font-size: 50px;
}
